$colorBasic: #fff;
$error: #e93c42;
$radius: 8px;
$brandLightGreen: #c2f158;
$brandDarkBlue: #1b2433;
$brandTeal: #64d2da;
$brandPurple: #b834c6;
$brandDarkGrey: #283043;

$themes: (
  light: (
    background: #fff,
    font-color: #000,
    error: #e93c42,
    radius: 8px,
    brand-light: #1b2433,
    brand-dark: #c2f158,
    cta-primary: #b834c6,
    cta-secondary: #64d2da,
    item: #283043,
  ),
  dark: (
    background: #000,
    font-color: #fff,
    error: #e93c42,
    radius: 8px,
    brand-light: #c2f158,
    brand-dark: #1b2433,
    cta-primary: #b834c6,
    cta-secondary: #64d2da,
    item: #283043,
  ),
);
