@import '../utilities/mainTheme.scss';
@import '../utilities/themeMixin.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif !important;
}

body {
  @include theme-aware('background', 'background');
  transition: all 250ms ease-in-out;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  @include theme-aware('-webkit-box-shadow', 'input-autocomplete');
  @include theme-aware('-webkit-text-fill-color', 'font-color');
}

.App {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 56px;

  .app-bar {
    color: $brandDarkBlue;
    @include theme-aware('color', 'secondary');
    @include theme-aware('background', 'primary');
    position: fixed;
  }
  .desktop-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .form-msg {
    text-align: center;
    margin-bottom: 1.1rem;
  }

  .main-title {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .container {
    border-radius: $radius;
    margin-bottom: 1.5rem;
    padding: 10px;

    &.colored {
      background-color: $brandLightGreen;
      @include theme-aware('color', 'font-color');
    }
  }
  .game-submit {
    .MuiOutlinedInput-input {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
  .participant-item {
    background-color: $brandTeal;
    color: $brandDarkBlue;
    border-radius: $radius;
    padding: 8px;
    margin-bottom: 1rem;

    .part-data {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
    }
  }

  .error {
    color: $error;
  }
  .flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
  }
  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }
  .side-by-side {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    margin: 8px 0;
  }
  .goal-input {
    width: 60px;
  }
  .loader-container {
    margin: 33% auto;
  }
  .loader {
    @include theme-aware('color', 'font-color');
    width: 120px !important;
    height: 120px !important;
  }
  .MuiTableContainer-root {
    background-color: transparent;
    margin-bottom: 1rem;
  }

  .brand-btn {
    background-color: $brandPurple;
    font-weight: 700;
    color: #fff !important;

    &:hover {
      background-color: $brandPurple;
    }
    &:active {
      background-color: $brandPurple;
    }
  }
  .finalize-btn {
    background-color: $brandLightGreen;
    @include theme-aware('color', 'secondary');
    @include theme-aware('background-color', 'primary');
    font-weight: 700;

    &:hover {
      background-color: $brandLightGreen;
    }
    &:active {
      background-color: $brandLightGreen;
    }
  }
  .auth-btn {
    background-color: $brandPurple;
    color: #fff !important;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 20px;

    &:hover {
      background-color: $brandPurple;
    }
    &:active {
      background-color: $brandPurple;
    }
  }
  .home-image-container {
    margin-bottom: 1rem;
    height: 180px;
    width: 100%;
    border-radius: $radius;
    position: relative;
    background-image: url('./fifa_main.jpeg');
    background-size: cover;

    &::after {
      content: '';
      position: absolute;
      border-radius: $radius;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(120deg, #b834c6, #43004b);
      opacity: 0.8;
    }
  }
  .bottom-msg {
    position: absolute;
    bottom: 20px;
  }

  .home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.725rem;
    margin: 1.2rem 0;

    .home-item {
      height: 100px;
      color: $brandTeal;
      background-color: $brandDarkGrey;
      @include theme-aware('color', 'home-item-frg');
      @include theme-aware('background-color', 'home-item-bcg');
      padding: 0.5rem;
      font-size: 1.3rem;
      border-radius: $radius;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .round-btn {
    width: 56px;
    height: 56px;
  }
  .game-item {
    padding: 6px;
    border-radius: $radius;
    margin-bottom: 6px;
  }
  .score {
    font-size: 0.8rem !important;
  }
  .with-shadow {
    -webkit-box-shadow: 0px 2px 2px 0px $brandDarkGrey;
    -moz-box-shadow: 0px 2px 2px 0px $brandDarkGrey;
    box-shadow: 0px 2px 2px 0px $brandDarkGrey;
  }
  .MuiTableCell-root {
    padding: 6px;
    @include theme-aware('color', 'font-color');
    border: none;
    @include theme-aware('background-color', 'table-bcg');
  }
  .tournament-create-page {
    @include theme-aware('color', 'font-color');
    label span .MuiSvgIcon-root {
      color: $brandLightGreen;
    }
    .MuiRating-root {
      font-size: 4rem;
    }
  }
  .tournament-play-page {
    @include theme-aware('color', 'font-color');
  }
  .player-stats-page {
    @include theme-aware('color', 'font-color');
  }
  .role-management {
    @include theme-aware('color', 'font-color');
    .title {
      text-align: center;
      font-size: large;
      margin-bottom: 20px;
    }
  }
  .tournaments-list-page {
    @include theme-aware('color', 'font-color');
  }
  .players-stats-page,
  .my-data-page {
    @include theme-aware('color', 'font-color');
    font-size: 1.5rem;
    h4 {
      font-size: 1.3rem;
      text-align: center;
      margin-top: 0.8rem;
      margin-bottom: 0.8rem;
    }
  }
  .stat {
    @include theme-aware('color', 'highlight');
  }
  .players-stats-page {
    text-align: center;
  }
  .error-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 6rem;
    }
    p {
      font-size: 2rem;
    }
  }
  .my-data-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
    hr {
      margin: 8px 0;
    }
  }
  .charts-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    @media screen and (max-width: 568px) {
      flex-direction: column;
    }
  }
  .chart-item {
    position: relative;
    width: 100%;
    @media screen and (max-width: 568px) {
      width: 70%;
    }
    &::after {
      content: attr(data-title);
      position: absolute;
      border-radius: $radius;
      top: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      right: 0;
      text-align: center;
      font-size: 1.2rem;
      @include theme-aware('color', 'font-color');
    }
  }
  .my-data-item {
    text-align: center;
    padding: 8px;
    &.outlined {
      @include theme-aware('border', 'border-highlight');
      border-radius: $radius;
    }
  }
  .login-page {
    @include theme-aware('color', 'font-color');
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tournament-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .MuiSvgIcon-root {
      color: $brandLightGreen;
    }
    #chart-icon {
      @include theme-aware('color', 'font-color');
    }
    .MuiRating-root {
      font-size: 1.5rem;
    }
  }
  .greeting {
    text-align: center;
    @include theme-aware('color', 'font-color');
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  .my-data {
    @include theme-aware('color', 'font-color');
  }
  .game-donut-container {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
      font-size: 1rem;
    }
  }
  .Donut-multiple__subtitle {
    display: flex;
    align-items: center;
  }
  .settings-page {
    @include theme-aware('color', 'font-color');

    .settings {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    .set-item {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-radius: 32px;
      @include theme-aware('background-color', 'set-item');
      padding: 5px 12px;
      margin-bottom: 12px;
      button {
        font-size: 16px;
        font-weight: 400;
        padding: 0;
        text-transform: capitalize;
      }
    }
    .color-picker-container {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.8);
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 100;
      .color-close-icon {
        top: -90px;
        right: 0;
        color: #fff;
        z-index: 101;
      }
    }
    .color-circle {
      border-radius: 50%;
      border: 2px solid #fff;
      height: 24px;
      width: 24px;
      margin-right: 10px;
    }
  }
  .generic-error {
    border-radius: $radius;
    background-color: $error;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 30px;
    width: 100%;
    margin: 10px 0;
  }
  .route-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
  }
  .no-margin {
    margin: 0 !important;
  }
}
#modal {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  outline: none;
  display: flex;
  flex-direction: column;
  text-align: center;

  .flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
#account-avatar {
  width: 120px;
  height: 120px;
  margin: 20px 0 0;
}
#warning-icon {
  height: 60px;
  width: 60px;
}
.main-container {
  padding: 0 !important;
}
.logout-icon {
  margin-right: 12px;
}
.square32 {
  height: 32px;
  width: 32px;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.mr8 {
  margin-right: 8px;
}
.mr20 {
  margin-right: 20px !important;
}
.ml20 {
  margin-left: 20px;
}
.p10 {
  padding: 10px !important;
}
.w-full {
  width: 100%;
}
.w-40 {
  width: 40%;
}
.w-55 {
  width: 55%;
}
.flex-column {
  flex-direction: column;
}
.flex {
  display: flex;
}
