@import '../utilities/mainTheme.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif !important;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 56px;

  .app-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $brandDarkBlue;
    background: $brandLightGreen;
    position: absolute;
  }

  .main-title {
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
  .container {
    border-radius: $radius;
    margin-bottom: 1.5rem;
    padding: 10px;

    &.colored {
      background-color: $brandLight;
      color: $white;
    }
  }
  .game-submit {
    .MuiOutlinedInput-input {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
  .participant-item {
    background-color: $brandTeal;
    color: $brandDarkBlue;
    border-radius: $radius;
    padding: 8px;
    margin-bottom: 1rem;

    .part-data {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
    }
  }

  .error {
    color: $error;
  }
  .flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
  }
  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }
  .side-by-side {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    margin: 8px 0;
  }
  .goal-input {
    width: 60px;
  }

  .loader-container {
    margin: 33% auto;
  }
  .loader {
    color: $brandLightGreen;
    width: 120px !important;
    height: 120px !important;
  }
  .MuiTableContainer-root {
    background-color: transparent;
    margin-bottom: 1rem;
  }

  .brand-btn {
    background-color: $brandPurple;
    color: $white;
    font-weight: 700;

    &:hover {
      background-color: $brandPurple;
    }
    &:active {
      background-color: $brandPurple;
    }
  }
  .finalize-btn {
    background-color: $brandLightGreen;
    color: $brandDarkBlue;
    font-weight: 700;

    &:hover {
      background-color: $brandLightGreen;
    }
    &:active {
      background-color: $brandLightGreen;
    }
  }
  .auth-btn {
    background-color: $brandPurple;
    color: $white;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 20px;

    &:hover {
      background-color: $brandPurple;
    }
    &:active {
      background-color: $brandPurple;
    }
  }
  .home-image-container {
    margin-bottom: 1rem;
    height: 240px;
    width: 100%;
    border-radius: $radius;
    position: relative;
    background-image: url('./fifa_main.jpeg');
    background-size: cover;

    &::after {
      content: '';
      position: absolute;
      border-radius: $radius;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(120deg, #b834c6, #43004b);
      opacity: 0.8;
    }
  }
  .bottom-msg {
    position: absolute;
    bottom: 20px;
  }

  .home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.725rem;
    margin: 1.2rem 0;

    .home-item {
      height: 100px;
      color: $brandTeal;
      background-color: $brandDarkGrey;
      padding: 0.5rem;
      font-size: 1.3rem;
      border-radius: $radius;
    }
  }

  .round-btn {
    width: 56px;
    height: 56px;
  }
  .game-item {
    padding: 6px;
    border-radius: $radius;
    margin-bottom: 6px;
  }
  .score {
    font-size: 0.8rem !important;
  }
  .with-shadow {
    -webkit-box-shadow: 0px 2px 2px 0px $brandLightGreen;
    -moz-box-shadow: 0px 2px 2px 0px $brandLightGreen;
    box-shadow: 0px 2px 2px 0px $brandLightGreen;
  }
  .MuiTableCell-root {
    padding: 6px;
    color: $white;
    border: none;
    background-color: $brandDarkGrey;
  }
  .tournament-create-page {
    color: $white;
    label span .MuiSvgIcon-root {
      color: $brandLightGreen;
    }
    .MuiRating-root {
      font-size: 4rem;
    }
  }
  .tournament-play-page {
    color: $white;
  }
  .player-stats-page {
    color: $white;
  }
  .tournaments-list-page {
    color: $white;
  }
  .players-stats-page {
    color: $white;
    font-size: 1.7rem;
    text-align: center;
    .fact-player {
      color: $brandLightGreen;
    }
  }
  .login-page {
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tournament-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .MuiSvgIcon-root {
      color: $brandLightGreen;
    }
    #chart-icon {
      color: $white;
    }
    .MuiRating-root {
      font-size: 1.5rem;
    }
  }
}
#modal {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  outline: none;
  display: flex;
  flex-direction: column;
  text-align: center;

  .flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
