body {
  margin: 0;
  font-family: 'Oswald', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* @media screen and (min-width: 992px) {
  body {
    background-size: cover;
  }
} */
