$white: #ffffff;
$error: #e93c42;
$brandLight: #49bce3;
$brandDark: #1077c3;
$brandYellow: #fec310;
$brandScarlett: #56042c;
$radius: 8px;
$container-bcg: rgb(227, 248, 246);
$brandLightGreen: #c2f158;
$brandDarkBlue: #1b2433;
$brandTeal: #64d2da;
$brandPurple: #b834c6;
$brandDarkGrey: #283043;
$brandLightBlue: #82aac5;
