@import '../utilities/mainTheme.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif !important;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 56px;

  .app-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $brandDarkBlue;
    background: $brandLightGreen;
    position: absolute;
  }

  .main-title {
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
  .container {
    background-color: $white;
    border-radius: $radius;
    margin-bottom: 1.5rem;
    padding: 10px;

    &.colored {
      background-color: $brandLight;
      color: $white;
    }
  }
  .game-submit {
    .MuiOutlinedInput-input {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
  .participant-item {
    background-color: $brandDark;
    color: $white;
    border-radius: $radius;
    padding: 8px;
    margin-bottom: 1rem;

    .part-data {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
    }
  }

  .error {
    color: $error;
  }
  .flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
  }
  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }
  .side-by-side {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    margin: 8px 0;
  }
  .goal-input {
    width: 60px;
  }

  .loader {
    color: $brandLightGreen;
    width: 120px !important;
    height: 120px !important;
  }
  .MuiRating-root {
    font-size: 4rem;
  }
  .MuiTableContainer-root {
    margin-bottom: 1rem;
  }

  .brand-btn {
    background-color: $brandLight;
    color: $white;
    font-weight: 700;

    &:hover {
      background-color: $brandLight;
    }
    &:active {
      background-color: $brandLight;
    }
  }
  .finalize-btn {
    background-color: $brandScarlett;
    color: $white;
    font-weight: 700;

    &:hover {
      background-color: $brandScarlett;
    }
    &:active {
      background-color: $brandScarlett;
    }
  }
  .home-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 1rem;

    .fifa-image {
      min-width: 100%;
      min-height: 100%;
      border-radius: $radius;
    }
  }

  .home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.725rem;
    margin: 1.2rem 0;

    .home-item {
      height: 100px;
      color: $brandLightBlue;
      background-color: $brandDarkGrey;
      padding: 0.5rem;
      font-size: 1.3rem;
    }
  }

  .round-btn {
    width: 56px;
    height: 56px;
  }
  .game-item {
    padding: 6px;
    border-radius: $radius;
    margin-bottom: 6px;
  }
  .score {
    font-size: 0.8rem !important;
  }
  .with-shadow {
    -webkit-box-shadow: 0px 2px 2px 0px rgba(133, 133, 133, 1);
    -moz-box-shadow: 0px 2px 2px 0px rgba(133, 133, 133, 1);
    box-shadow: 0px 2px 2px 0px rgba(133, 133, 133, 1);
  }
  .MuiTableCell-root {
    padding: 6px;
  }
}
#modal {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  outline: none;
  display: flex;
  flex-direction: column;
  text-align: center;

  .flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
