@import '../utilities/mainTheme.scss';

.App {
  text-align: center;
  .error {
    color: $error;
  }
  .flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    color: $brandTeal;
    width: 120px !important;
    height: 120px !important;
    padding: 32px 0;
  }
  .MuiRating-root {
    font-size: 4rem;
  }
}
