@import '../utilities/mainTheme.scss';

.App {
  display: flex;
  flex-direction: column;
  padding: 32px 10px;

  .error {
    color: $error;
  }
  .flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .side-by-side {
    display: flex;
    gap: 20px;
  }
  .loader {
    color: $brandTeal;
    width: 120px !important;
    height: 120px !important;
    padding: 32px 0;
  }
  .MuiRating-root {
    font-size: 4rem;
  }
}
